@media(max-width:600px) {
    .main-section {
        background-image: url(../img/oppenhiemer\ 2.png);
        background-size: cover;
        background-position: center;
        height: 80vh;
        max-width: 100%;
        padding: 10px;
    }
}